h1 {
  padding-left: 35px;
}

h2 {
  font-weight: lighter;
  max-width: 100%;
}

h3 {
  margin-top: 10px;
  padding-top: 10px;
}

.container p {
  max-width: 500px;
}

.jumbotron {
  background-color: #c4fff6!important;
  max-height: 250px;
}

body {
  background-color: #f9f9f9;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.well {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}

a {
  padding-left: 15px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    background-color: #c4fff6;
}

.footer p {
  text-align: center;
  font-weight: lighter;
  background-color: #c4fff6;
}

.alert {
  display: none;
}

.results {
  display: none;
}

#formOne {
  max-width: 400px;
}

#formTwo {
  display: none;
}

#formThree {
  display: none;
}

#formFour {
  display: none;
}

#formFive {
  display: none;
}
